.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  border-top: 4px solid var(--main-color);
  border-bottom: 4px solid var(--main-color);
  background-color: var(--accent-second-color);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 24px;
}

.icinHeader {
  width: 50px;
  height: 50px;
}

.navLink {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  display: flex;
  padding: 12px 20px;
  text-decoration: none;
  color: var(--second-color);
  background-color: var(--accent-color);
  border: 1px solid var(--main-color);
  border-radius: 200px;
  transition: var(--anim);
}

.navLink:hover {
  color: var(--main-white);
  background-color: var(--accent-second-color);
  border: 1px solid var(--main-color);
}

.active {
  color: var(--accent-second-color);
  background-color: var(--main-white);
  border: 1px solid var(--second-color);
  transition: var(--anim);
}

@media only screen and (min-width: 768px) {
  .navigation {
    gap: 30px;
  }
}
